@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: 185deg, 100%, 33%;
    --text: 240deg, 100%, 10%;
    --background1: 0deg, 0%, 100%;
    --background2: 0deg, 0%, 93%;
    --background3: 0deg, 0%, 83%;
  }
  @media (prefers-color-scheme: dark) {
    :root {
      --primary: 185deg, 100%, 33%;
      --text: 0deg, 0%, 93%;
      --background1: 240deg, 100%, 10%;
      --background2: 240deg, 100%, 13%;
      --background3: 240deg, 100%, 16%;
    }
  }
  [data-theme] {
    --primary: 185deg, 100%, 33%;
    --text: 0deg, 0%, 93%;
    --background1: 240deg, 100%, 10%;
    --background2: 240deg, 100%, 13%;
    --background3: 240deg, 100%, 16%;
  }
}

* {
  transition: all 0.5s ease-in-out;
}
